<div class="jumbotron">
    <h1>BTL WEB API WITH MVC </h1>
    <p class="lead">hãy là thành viên của chúng tôi đăng ký bên dưới mô tả</p>
    <p><a href="https://localhost:44330/" class="btn btn-primary btn-lg">Khám phá trang web&raquo;</a></p>
</div>

